@import '../ClientVariable.scss';

#client-header {
    height: 65px;
    width: 100%;
    background-color: $primary-color;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 20;
    
    transition: all ease 0.15s;

    &.recruitment {
        background-color: $red-color;
    }
}

.client-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        height: 100%;
        padding: 10px 15px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: block;
            height: 100%;
            padding: 1px 0;
        }

        img {
            height: 100%;
        }
    }

    &-nav {
        display: flex;
        height: 100%;
    }

    &-item {
        height: 100%;
        color: white;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        transition: all ease 0.15s;
        position: relative;

        a {
            display: flex;
            align-items: center;
            color: inherit;
            font-weight: 800;
            font-size: 18px;
            height: 100%;
            text-transform: uppercase;
        }

        &:hover {
            border-bottom: solid 5px $border-color;
            background-color: $active-color;
            border-radius: 15px 15px 0 0;
        }

        &.active {
            background-color: $active-color;
            border-bottom: solid 5px $border-color;
            border-radius: 15px 15px 0 0;
        }

        &.weekly {
            gap: 10px;

            i {
                cursor: pointer;
                font-size: 20px;
                height: 20px;
            }
        }
    }
    &-login {
        height: 100%;
        background-color: white;
        border-radius: 10px 0 0 10px;
        box-shadow: -10px 0px #91d0ed;
        transition: all ease 0.15s;
        position: relative;
        
        a, p {
            display: block;
            align-items: center;
            color: $active-color;
            font-weight: 800;
            font-size: 18px;
            height: 100%;
            text-transform: uppercase;
            line-height: 65px;
            padding: 0 20px;
        }
    }

    &-mobile {
        display: none;
    }
}

.list-item {
    position: absolute;
    top: 105%;
    right: 0;
    background-color: $active-color;
    width: 155px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
    li {
        height: 40px;
        width: 90%;
        color: white;
        
        a {
            display: block;
            width: 100%;
            line-height: 40px;
            text-align: center;
        }

        &:hover {
            background: $border-color;
            border-radius: 15px;
        }
    }

    &.account { 
        width: 250px;
        a, p {
            color: white !important;
            display: block;
            width: 100%;
            line-height: 40px;
            text-align: center;
        }
    }
}

.client-header.recruitment {
    .active {
        background-color: $red-active;
        border-bottom: solid 5px white;
    }

    .client-header-item:hover {
        border-bottom: solid 5px $red-border;
        background-color: $red-active;
        border-radius: 15px 15px 0 0;
    }

    .client-header-login {
        box-shadow: -10px 0px $red-border;

        a, p {
            color: $red-active;
        }
    }
    .weekly-item {
        background-color: $red-active;

        li:hover {
            background-color: $red-border;
        }
    }
}

@media screen and (max-width: 1248px) {
    .client-header {
        &-mobile {
            display: block;
            padding: 20px 35px;

            i {
                height: 100%;
                font-size: 30px;
                color: white;
            }

            & .nav-mobile {
                position: fixed;
                transition: all ease-in-out 0.3s;
                transform: translateX(-900px);
                visibility: hidden;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                &.active-mobile {
                    visibility: visible;
                    transform: translateX(0);
                    background: rgba(0, 0, 0, 0.2);
                }
            }

            & nav {
                width: 200px;
                height: 100%;
                background-color: $primary-color;
                display: flex;
                flex-direction: column;

                & .client-header-item {
                    height: 65px;

                    &.weekly {
                        display: flex;
                        align-items: center;
                    }
                }

                .list-item {
                    border-radius: 0;
                    position: relative;
                    top: 0;
                    width: 100%;
                    font-weight: 800;
                    font-size: 18px;
                    color: white;

                    li a {
                        color: inherit;
                    }
                }
            }
        }
        &-nav {
            display: none;
        }
    }

    .client-header.recruitment {
        .nav-mobile nav {
            background-color: $red-color;
        }
        .weekly-item {
            background-color: $red-active;
    
            li:hover {
                background-color: $red-border;
            }
        }
    }
}