@import '../../variable.scss';

.trao-recruit-clock-main {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .tick {
        font-size: 100px;
    }

    .tick-flip-panel {
        background-color: $primary-color;
        color: $subPrimary-color;
        font-weight: 800;
    }

    .time-dots {
        width: 20px;
        margin: 0 15px;
        transform: translateY(-35%);
    }

    .trao-recruit-clock-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        p {
            font-size: 24px;
            color: $primary-color;
            font-weight: 900;
            text-shadow: 3px 3px 3px $subPrimary-color;
        }
    }
}

@media screen and (max-width: 1200px) {
    .tick {
        font-size: 70px !important;
    }
}

@media screen and (max-width: 870px) {
    .tick {
        font-size: 45px !important;
    }

    .time-dots {
        width: 10px !important;
        margin: 0 15px;
        transform: translateY(-100%) !important;     
    }
}

@media screen and (max-width: 600px) {
    .tick {
        font-size: 34px !important;
    }

    .time-dots {
        width: 10px !important;
        margin: 0 15px;
        transform: translateY(-100%) !important;     
    }
}