@import './variable.scss';

.wrapper{
    max-width: min(90%, 1440px);
    margin: 0 auto;
}

body{
    line-height: 1;
    min-width: 500px;
}

.none {
    display: none;
}

.cursorPointer {
    cursor: pointer;
}

section {
    padding-bottom: 75px;
}