@import './variable.scss';

.wrapper{
    max-width: min(90%, 1440px);
    margin: 0 auto;
}

body{
    line-height: 1;
    min-width: 500px;
}

.none {
    display: none;
}

.visible {
    visibility: hidden;
}

.cursorPointer {
    cursor: pointer;
}

section {
    padding-bottom: 75px;
}

.primary-button {
    background-color: #91d0ed;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    
    &:hover {
        background-color: #8cd9dd;
    }
}

.secondary-button {
    background: linear-gradient(to right, #74e3e9, #65a5f0, #3fc3ff);
    border: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 
        inset 2px 2px 2px 0 rgba(255,255,255,.5), 7px 7px 20px 0 rgba(0,0,0,.1); 
    
    &:hover {
        background: linear-gradient(to right, #76f3da, #76a5e0, #34d4fc);
    }
}

// .checkbox-btn {
//     width: 15px;
//     height: 15px;
//     border: 2px solid #3288f3;
// }

.checkbox-btn {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    width: 20px;

    appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background-color: #d0f3f3;
    border: 2px solid #3288f3;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
        
    &:after {
        content: '\e64c';
        font-weight: 900;
        font-family: 'themify';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: white;
        display: none;
        font-size: 12px;
    }

    &:hover {
        background-color: #91d0ed;
    }

    &:checked {
        background-color: #3288f3;

        &:after {
            display: block;
        }
    }
}