$border-color: #6fced4;

.client-proud-2 {
    padding: 75px 50px;
    width: 100%;
    display: flex;
    align-items: center;

    &-left, &-right {
        width: 50%;
    }

    &-left {
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            width: 70%;

            &:nth-child(2) {
                padding: 30px 0;
                width: 85%;
            }
        }

        p {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }
    }
}

.client-proud-2-content {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#client-proud-2-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    input {
        border: $border-color 3px solid;
        border-radius: 50px;
        padding: 0 50px;
        font-weight: 500;
    }
}