@import '../AdminVariable.scss';

#admin-header {
    height: 65px;
    width: 100%;
    background-color: $primary-color;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 20;
    
    transition: all ease 0.15s;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        height: 100%;
        padding: 10px 15px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: block;
            height: 100%;
            padding: 1px 0;
        }

        img {
            height: 100%;
        }
    }

    &-nav {
        display: flex;
        height: 100%;
    }

    &-item {
        height: 100%;
        color: white;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        transition: all ease 0.15s;
        position: relative;

        a {
            display: flex;
            align-items: center;
            color: inherit;
            font-weight: 800;
            font-size: 18px;
            height: 100%;
            text-transform: uppercase;
        }

        &:hover {
            border-bottom: solid 5px $border-color;
            background-color: $active-color;
            border-radius: 15px 15px 0 0;
        }

        &.active {
            background-color: $active-color;
            border-bottom: solid 5px $border-color;
            border-radius: 15px 15px 0 0;
        }

        &.list {
            gap: 10px;

            i {
                cursor: pointer;
                font-size: 20px;
                height: 20px;
            }
        }
    }
    &-login {
        height: 100%;
        background-color: white;
        border-radius: 10px 0 0 10px;
        box-shadow: -10px 0px #4f4949;
        transition: all ease 0.15s;
        position: relative;
        z-index: 1;
        
        a, p {
            display: block;
            align-items: center;
            color: $active-color;
            font-weight: 800;
            font-size: 18px;
            height: 100%;
            text-transform: uppercase;
            line-height: 65px;
            padding: 0 20px;
        }
    }

    &-mobile {
        display: none;
    }
}

.admin.list-item {
    background-color: $active-color;

    li:hover {
        background-color: $border-color;
    }
}