$border-color: #6fced4;

.client-proud-2-input {
    .teamName {
        width: 100%;
        height: 75px;
        padding: 0 50px;
        font-size: 30px;
        text-align: center;        
    }
}